body {
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
}


.logo {
    width: 140px;
    height: 140px;
}

/* contact icons */

i.icons {
    font-size: 1.6em;
    width: 1.6em;
    text-align: center;
    line-height: 1.6em;
    background: #3E3D3C;
    color: #fff;
    border-radius: 0.8em;
    position: relative;
    left: 15px;
}

i.text {
    font-size: 1em;
    text-align: center;
    line-height: 1.1em;
    font-style: normal;
    position: relative;
    top: -5px;
    left: 20px;
}
a.icon-link:link, a.icon-link:active, a.icon-link:visited {
    color: #ffffff;
    text-decoration: none;
}

a > .top5:hover {
    background-color: #A14F36;
}

.progress-bar-label {
    position: relative;
    top: -7px;
    text-align: center;
}

div.left-sidebar {
    height:100%;
    /* IE10+ */
    background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #D2573F 0%, #F59331 100%);
    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #D2573F 0%, #F59331 100%);
    /* Opera */
    background-image: -o-radial-gradient(left top, ellipse farthest-corner, #D2573F 0%, #F59331 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, left top, 0, left top, 572, color-stop(0, #D2573F), color-stop(100, #F59331));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #D2573F 0%, #F59331 100%);
    /* W3C Markup */
    background-image: radial-gradient(ellipse farthest-corner at left top, #D2573F 0%, #F59331 100%);
    color: #ffffff;
    background:  #D2573F;
    background-size: 400% 400%;
    -webkit-animation: 24s ease infinite;
    -moz-animation: 24s ease infinite;
    -o-animation: 24s ease infinite;
    animation: 24s ease infinite;
@-webkit-keyframes {
    0% {
        background-position: 0% 68%
    }
    50% {
        background-position: 100% 33%
    }
    100% {
        background-position: 0% 68%
    }
}

@-moz-keyframes {
    0% {
        background-position: 0% 68%
    }
    50% {
        background-position: 100% 33%
    }
    100% {
        background-position: 0% 68%
    }
}

@-o-keyframes {
    0% {
        background-position: 0% 68%
    }
    50% {
        background-position: 100% 33%
    }
    100% {
        background-position: 0% 68%
    }
}

@keyframes {
    0% {
        background-position: 0% 68%
    }
    50% {
        background-position: 100% 33%
    }
    100% {
        background-position: 0% 68%
    }
}

color: #ffffff;
min-height: 100%;
}


h5{
    color: #3E3D3C;
    font-weight: bold;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .pagination {
        position: relative;
        bottom: 0px;
    }

}
